<app-topmenu>
  <div buttons>
    <button mat-flat-button color="secondary" [disabled]="selectedEntities.length==0" (click)="selectEntities.clear()">Clear</button>
  </div>
</app-topmenu>
<div class="cloudapp-body">
    <h2>Multi-select Test View</h2>
    <p>A total of <strong>{{ selectedEntities.length }}</strong> items have been selected. (Count: {{ count }})</p>
    
    <div *ngIf="count === 0">Please navigate to a list.</div>
    
    <eca-select-entities #selectEntities 
        [(selected)]="selectedEntities"
        (count)="count = $event"
        >
    </eca-select-entities>
</div>
