<div class="title" [class.show-actions]="route.url !== '/'">
    <!-- Zmieniono styl, aby przyciski były wyrównane do prawej i zgrupowane -->
    <div class="eca-actions" style="display: flex; justify-content: flex-end; align-items: center; width: 100%;">
        
        <!-- Przycisk Home (widoczny tylko na stronie /settings) -->
        <button mat-flat-button color="secondary" [routerLink]="['/']" *ngIf="route.url === '/settings'">
            <mat-icon>arrow_back</mat-icon>
            Home
        </button>

        <!-- Kontener na przyciski wstrzykiwane został usunięty, przyciski będą się stykać -->
        <ng-content select="[buttons]"></ng-content>

    </div>
</div>

