<div class="title" [class.show-actions]="route.url !== '/'">
    <div class="eca-actions">
        <!-- Przycisk Powrót/Home (zostaje) -->
        <button mat-flat-button color="secondary" [routerLink]="['/']">
            <mat-icon>arrow_back</mat-icon>
            Home
        </button>
        
        <!-- NOWY PRZYCISK: Test Multi-Select -->
        <button mat-flat-button color="secondary" *ngIf="route.url !== '/multi-select'" [routerLink]="['/multi-select']">
            Test Multi-Select
        </button>

        <!-- Przycisk Settings (teraz ukryty na stronie ustawień) -->
        <button mat-flat-button color="secondary" *ngIf="route.url !== '/settings'" [routerLink]="['/settings']">
            <mat-icon>settings</mat-icon>
            Settings
        </button>
        
        <!-- To jest "slot", w którym pojawi się przycisk "Save" ze strony settings -->
        <ng-content select="[buttons]"></ng-content>
    </div>
    <h1>{{ title }}</h1>
</div>
